# Ambientes virtuais
venv/
ENV/
.venv/

# Cache do Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Banco de dados SQLite
*.db

# Arquivos de entrada e saídas temporárias
input/
output/
uploads/

# Arquivos de log
*.log

# Arquivos compactados
*.zip
*.tar
*.gz

# Configurações locais
*.env
*.ini
*.local

# Pastas do sistema
.DS_Store
Thumbs.db
